@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300&family=Montserrat:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montagu Slab', serif;
    background-color: white;
}

.judul-container {
    text-align: center;
    line-height: 80px;
}

.judul {
    height: 80px;
    width: 100%;
    font-size: 2em;
    color: #333;
    background-color: #ffc107;
    padding: 10px;
    display: inline-block;
    margin: 0;
}

.paragrap {
    max-width: 1450px;
    height: 1150px;
    text-align: center;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.button {
    display: inline-block;
    padding: 10px 620px;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #fff;
    color: #4CAF50;
}

.button-persegi {
    margin-bottom: 10px; /* Jarak antara kontainer tombol */
}

.button-panjang {
    margin-top: 10px; /* Jarak antara kontainer tombol */
}

.judul_luas_persegi {
    max-width: 1800px;
    text-align: center;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    margin: auto;
    box-shadow: 0 0 10px rgba(6, 93, 193, 0.352);
}

.persegi {
    height: 80px;
    width: 97,5%;
    font-size: 2em;
    color: #333;
    background-color: #ffc107;
    padding: 30px;
    margin: -10px;
    line-height: 80px;
}

.image {
    margin-top: 40px;
}

.rumus {
    text-align: left;
}

h3 {
    text-align: center;
}

.judul_luas_panjang {
    max-width: 1800px;
    text-align: center;
    color: #333;
    background-color: #f4f4f4;
    padding: 10px;
    margin: auto;
    box-shadow: 0 0 10px rgba(6, 93, 193, 0.352);
}

.panjang {
    height: 80px;
    width: 97,5%;
    font-size: 2em;
    color: #333;
    background-color: #ffc107;
    padding: 30px;
    margin: -10px;
    line-height: 80px;
}

.input_luas {
  padding: 10px;
  margin: 10px 0;
  width: 1000px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.hitung_luas {
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }

  .reset {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }

  .hitung_luas:hover {
    background-color: #45a049;
  }

  .reset:hover {
    background-color: #be920d;
  }

#hasilLuas {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

